.resources{

    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;

    h1{
        font-size: 3rem;
        text-align: center;
        font-family: $bree;
        font-weight:100;
    }
    .blog-list{
        display: flex;
        flex-direction: column;

        font-family: $poppins;
        font-weight: 500;
        font-size: 1.5rem;
        list-style: none;
        margin-top: 20px;
        padding: 0;
        
      
        
        .resource{
            display: flex;
            justify-content:start;
            align-items: center;
            gap: 15px;
            padding-top: 20px;

            .resource-link{

               
             
            }
            .redirect{
                width: 44px;
                height: 44px;

            }
        }
        
    }

}

@media (max-width: 480px) {
    .resources{
        h1{
            font-size:2rem;
            
        }
        .resource{
            font-size:1rem;
            width: 80%;
            margin: auto;
            .redirect{
                width: 32px!important;
                height: 32px!important;
               
            }
            .resource-link{
                padding-top: 20px;
                z-index: 0!important;
            }
          
        }
    }
}

@media (min-width: 481px) and (max-width: 768px){
    .resources{
        h1{
            font-size:2.3rem;
            
        }
        
        .resource{
            font-size:1.2rem;
            width: 80%;
            margin: auto;
            .redirect{
                width: 42px!important;
                height: 42px!important;
               
            }
            .resource-link{
                padding-top: 20px;
                z-index: 0!important;
            }
          
        }
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .resources{
        h1{
            font-size:2.5rem;
            
        }
        .resource{
            font-size:1.5rem;
            width: 90%;
            margin: auto;
            .redirect{
                width: 52px!important;
                height: 52px!important;
               
            }
            .resource-link{
                padding-top: 20px;
                z-index: 0!important;
            }
          
        }
    }
}